
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --orange: #ff723e;
    --blancT:rgba(247, 255, 255, 0.884);

  }
body{
    height: 200vh;
    width: 100vw;
}
::-webkit-scrollbar {
    width: 0;
  }
main{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.navv {
    position: fixed;
    padding: 65px 0;
    margin: 0;
}
.linksNav{
    list-style-type: none; 
    padding: 0;

}
.linksNav > li >a{
    visibility: hidden;
}

.active {
    color: var(--blancT)!important;
    background-color: var(--orange)!important;
}
.fond{
    position: absolute;
    bottom: 0px;
    height: 140vh;
    width: 4000px;
    top: calc(50% );
    left: calc(50% );
    transform: translate(-50%, -50%);
}
.montagne1{
    position: absolute;
    bottom: 0px;
    height: 100vh;
    top: calc(50% + 25vh);
    left: calc(50% + -45vw);
    transform: translate(-50%, -50%);
    z-index: 5;
    filter: brightness(1.1) contrast(1.1) saturate(1.1);

}

.montagne2{
    position: absolute;
    bottom: 0px;
    height: 100vh;
    top: calc(50% + 25vh);
    left: calc(50% + 45vw);
    transform: translate(-50%, -50%);
    z-index: 5;
    filter: brightness(1.1) contrast(1.1) saturate(1.1) ;


}

.montagne11{
    position: absolute;
    bottom: 0px;
    height: 115vh;
    top: calc(50% + 15vh);
    left: calc(50% + -35vw);

}

.montagne22{
    position: absolute;
    bottom: 0px;
    height: 120vh;
    top: calc(50% + 15vh);
    left: calc(50% + 35vw);
}

.brume1{
    position: absolute;
    bottom: 0px;
    height: 50vh;
    top: calc(50% );
    left: calc(50% + 30vw);
}


.brume2{
    position: absolute;
    bottom: 0px;
    height: 65vh;
    top: calc(50% + 35vh);
    left: calc(50% + -30vw);
}

.parralax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2,.49,.32,.99);
}

.nuage1{
    position: absolute;
    bottom: 0px;
    bottom: 0px;
    height:20vh;
    top: calc(50% + -40vh);
    left: calc(50% + 40vw);
    filter: saturate(0.2) brightness(0.9) contrast(0.9);

}

.nuage2{
    position: absolute;
    bottom: 0px;
    height: 20vh;
    top: calc(50% + -50vh);
    left: calc(50% + -40vw);
    filter: saturate(0.4) brightness(0.9) contrast(0.9);

}

.title{
    position: absolute;
    font-weight: 900;
    display: flex;
    align-self: center;
    width: 70vw;
    font-size: 3rem;
    top: calc(50% );
    left: calc(50%);
    font-family: "Bebas Neue", sans-serif;
    background: linear-gradient(#79c1fc, #bfc1d3);
    color: transparent;
    background-clip: text;
}

.burger{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 5px;
    position: relative;
    padding: 0;
    margin: 0;
    background: var(--blancT)!important;
}
.burger span{

    width: 90%;
    height:6px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ff723e;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}
.burger span::before, .burger span::after{
    content: '';
    width: 80%;
    height:6px;
    position: absolute;
    background: #ff723e;
    border-radius: 10px;
    transform: translateX(-50%);
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, bottom 0.5s ease-in-out;


}

.burger span::before{
    top: -15px;
}
.burger span::after{
    bottom: -15px;
}

.burger.active span{
    background-color: transparent;
}

.burger.active span::before{
    transform: translate(-50% ) rotateZ(-45deg);
    top: 0;
}

.burger.active span::after{
    transform: translate(-50%) rotateZ(45deg);
    bottom: 0;
}

@media screen and (min-width: 762px) { 
    .title{
        width: 80vw;
        font-size: 4rem;
    }
    .nuage1{
        height: 30vh;
    }
    .nuage2{
        height: 30vh;
    }
    .linksNav > li >a{
        text-decoration: none;
        color: var(--orange);
        font-size: 1rem;
        background-color: var(--blancT);
        font-family: "Nunito", sans-serif;
        border-radius: 50px;
        border: 3px solid var(--orange);
        padding: 5px 10px;
    }
 }

 @media screen and (min-width: 992px) { 
    .title{
        width: 60vw;
        font-size: 5rem;
    }
    .nuage1{
        height: 40vh;
    }
    .nuage2{
        height: 40vh;
    }
 }
 @media screen and (min-width: 1400px) { 
    .title{
        width: 50vw;
        font-size: 7rem;
    }
    .nuage1{
        height: 50vh;
    }
    .nuage2{
        height: 50vh;
    }
 }

 @media screen and (min-width: 1400px) { 
    .title{

        font-size: 8.5rem;
    }

    @media screen and (min-width: 1800px) { 
        .linksNav > li >a{
            text-decoration: none;
            color: var(--orange);
            font-size: 2.5rem;
            background-color: var(--blancT);
            font-family: "Nunito", sans-serif;
            border-radius: 50px;
            border: 3px solid var(--orange);
            padding: 20px 30px;
        }
 }

 }